//- views/index.jade
html
    head
        title
    body
        form(method="post",enctype="multipart/form-data",action="/upload")
            p
                input(type="text",name="passPhrase",placeholder="passPhrase")
            p
                input(type="text",name="instanceId",placeholder="InstanceId")
            p
                input(type="file",name="upl")
            p
                input(type="submit")
